* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.clearFix {
  clear: both;
}

body {
  background-color: #f6f6f6;
  font-family: Tahoma;
  font-size: 16px;
}

ul, ol {
  list-style: none;
  padding: 0;
}

.head-with-border {
  position: relative;
}
.head-with-border h2 {
  text-align: center;
  background-color: #e2494c;
  color: #fff;
  margin: 40px auto;
  border-radius: 15px;
  max-width: 400px;
  padding: 10px 15px;
  text-transform: uppercase;
}
.head-with-border h2:before {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #d9d9d9;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
}

.header {
  padding: 20px 0;
  overflow: hidden;
  border-bottom: 1px solid #d9d9d9;
}
.header .logo {
  width: 30%;
  float: left;
}
.header .logo h1 {
  margin-bottom: 0;
  margin-top: 10px;
}
.header .navbar {
  width: 70%;
  float: left;
  background-color: #e2494c;
  border-radius: 15px;
}
.header .navbar li {
  width: 20%;
  float: left;
  font-size: 18px;
  text-align: center;
}
.header .navbar li a {
  display: block;
  padding: 20px 10px;
  color: #fff;
  text-decoration: none;
}
.header .navbar li a:hover {
  color: #ddd;
}

/* start slider */
.slider blockquote {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  font-family: Tahoma, Arial;
  line-height: 1.7;
  text-align: center;
  color: #5e5e5e;
  width: 70%;
  margin: 30px auto;
}
.slider img {
  max-width: 100%;
}
.slider .bullets {
  text-align: center;
}
.slider .bullets li {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #d9d9d9;
  border-radius: 50%;
  border: 3px solid #d9d9d9;
  cursor: pointer;
}
.slider .bullets li.active, .slider .bullets li:hover {
  background-color: #fff;
  border: 3px solid black;
}

/* end slider */
/* start services */
.services .service-box {
  float: left;
  width: 33.3333333333%;
}
.services .service-box:not(:last-of-type) {
  padding-right: 20px;
}
.services .service-box .service-title {
  color: #666;
}
.services .service-box .service-title i {
  font-size: 35px;
  position: relative;
  top: 4px;
}
.services .service-box p {
  color: #777;
  line-height: 1.5;
}
.services .service-box .service-link {
  color: #e2494c;
}

/* end services */
/* start players */
.players .player-box {
  float: left;
  width: 20%;
}
.players .player-box:not(:last-of-type) {
  padding-right: 20px;
}
.players .player-box img {
  max-width: 100%;
}
.players .player-box .player-title {
  color: #666;
  font-weight: normal;
}
.players .player-box .player-title span {
  font-weight: bold;
}
.players .player-box p {
  color: #777;
  line-height: 1.5;
}
.players .player-box .player-link {
  color: #e2494c;
}

/* end players */
/* start lorem */
.lorem .lorem-box {
  float: left;
  width: 31.3333333333%;
}
.lorem .lorem-box:not(:last-of-type) {
  margin-right: 3%;
}
.lorem .lorem-box img {
  max-width: 100%;
}

/* end lorem */

/*# sourceMappingURL=homepage.css.map */
