.main-button {
  background-color: rgba($mainColor, .8);
  color: #fff;
  border: none;
  padding: 10px 15px;
  min-width: 120px;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  &:hover {
    background-color: $mainColor;
  }
}

.the-toggler {
  background-color: $mainColor;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  position: absolute;
  top: 18px;
  right: 15px;
  display: none;
  @media (max-width: #{$maxMobile}) {
    display: block;
    outline: none;
  }
  span {
    display: block;
    width: 50px;
    height: 4px;
    background-color: #fff;
    border-radius: 20px;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}