extends index
block prepend pageInfo
  main About page info prepended
block append pageInfo
  main About page info appended

prepend pageInfo
  main About page info prepended 2
append pageInfo
  main About page info appended 2
