
@function makeLarge($ele) {
  @return $ele + 20;
}


.test1{
  font-size: makeLarge(10px);
}



@function incFont($el) {
  $font: 16px;
  $result: 0;
  @if $el > $font {
    $result: 20px;
  } @else {
    $result: 100px;
  }
  @return $result;
}


.test2{
  font-size: incFont(30px);
}

.test3{
  font-size: incFont(10px);
}