include includes/myvars
doctype
html(lang='en')
  head
    title cv
  body
    ul
      - for (var x = 0; x <= 10; x++)
        li item #{x}
    - var y = 0
    ul
      while y <= 10
        li= 'item ' + y++
