doctype
html
  head
    meta
    title cv
    link
  body
    div
      p i love <strong>pug</strong> and <strong>sass</strong>
      p
        | i love 
        strong pug
        |  and 
        strong sass
      |
      | this text belong to ?
      |
      |
      .
        this text belong to ?
      
    
