doctype
html
  head
    meta
    title cv
    link
  body
    div
      h2 my skills
      ul
        li python
        li mysql
        li sass
        li pug
          span (soon)
      p lorem
      div: a this is link
      div: a: img
      p lorem <strong>text</strong>
      
    
