doctype
html
  head
    meta
    title cv
    link
  body
    div
      h2 my skills
      //- pug js comment only
      //
        first line comment in html
        second line comment in html
      //-
          first line comment in pug
          second line comment in pug
      // start my skills list
      ul
        li python
        li mysql
        li sass
        li pug
          span (soon)
      // end my skills list
      p lorem
      div: a this is link
      div: a: img
      p lorem <strong>text</strong>
      
    
