$maxMobile: 767px;
$minSmall: 768px;

$minSmall: '(min-width: 768px)';
$minMedium: '(min-width: 992px)';
$minLarge: '(min-width: 1200px)';

// $minMedium: '(min-width: 992px)';

$mainColor: #e2494c;
$secondColor: #d9d9d9;

$floatLeft: left;
$floatRight: right;

$textRight: right; 
$textLeft: left; 