{% extends 'base.html' %}

{% load static %}

{% block title %}
  Tweets List | {{ block.super }}
{% endblock title %}

{% block base_head %}

  <link rel="stylesheet" href="{% static 'css/count_chars.css' %}">

{% endblock %}


{% block content %}

  <div class='row'>
    <div class='col-sm-3 col-xs-12'>
      <h1>{{ request.user }}</h1>
    </div>
    <div class='col-sm-9'>
      
      {% if not request.GET.q %}
        <div class=''>
          {% include "tweets/form.html" with form=create_form action_url=create_url btn_title='Tweet' form_id='tweet-form' form_class='tweet-form' %}
        </div>
        <hr/>
      {% endif %}

      {% include "tweets/reply-modal.html" %}

      <div id='tweet-container' data-url="/api/tweet/"></div>
      <a href='#' id='loadmore'>Load More Tweets</a>

    </div>
  </div>

{% endblock %}


{% block javascript %}

  <script src="{% static 'js/list_tweets.js' %} "></script>
  <script>
    $(document).ready(function(){
      loadTweetData();
    });
  </script>

{% endblock javascript %}
