{% extends 'base.html' %}

{% block title %}
    All Articles | {{ block.super }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
            <h1>Articles</h1>
            <h4>Total Articles : {{ object_list|length }}</h4>
                <ul class="list-group">
                    {% for article in object_list %}
                        <li class="list-group-item"><a href="{{ article.get_absolute_url }}">{{article.id}}</a>&emsp; &xrarr; &emsp;<a href="{{ article.get_absolute_url }}">{{article.title}}</a>
                            <br>&emsp; Created in : {{ article.added | timesince }}
                            &emsp; By : {{ article.author }} &emsp; Category : <a href="search_by_categories/{{ article.category | safe }}">{{ article.category }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-4">
                <h1>Articles by Category :</h1>
{#                <a href="{{ category.get_absolute_categories_url }}">{{ category }} | {{ category.number_of_articles }}</a>#}
{#                <form class="navbar-form navbar-left" action="" style="display: flex; margin-top: 29px;">#}
{#                    {% csrf_token %}#}
{#                    <select class="btn btn-default dropdown-toggle" name="categories" style="border-radius: 4px 0 0 4px; min-width: 260px;" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">#}
                    <select class="btn btn-default dropdown-toggle" name="categories" style="min-width: 260px;" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                        <option value="">Select Category</option>
                        {% for category in categories %}
{#                            <form class="navbar-form navbar-left" action="{{ category.get_absolute_categories_url }}" style="display: flex; margin-top: 29px;">#}
                            <option {% if category.get_absolute_categories_url == request.path %} selected {% endif %} value="{{ category.get_absolute_categories_url }}">{{ category }} | {{ category.number_of_articles }}</option>
{#                            </form>#}
                        {% endfor %}
                    </select>
{#                    <span class="input-group-btn">#}
{#                        <button type="submit" class="btn btn-default">Go!</button>#}
{#                    </span>#}
{#                </form>#}
            </div>
        </div>
    </div>
{% endblock %}