extends layout

block content
    h1 #{title}
    ul.list-group
        each article, index in articles
            li.list-group-item
                a(href="/article/" + article._id)= article.title
                a.btn.btn-warning(href="/article/edit/" + article._id) Edit
                a.btn.btn-danger.delete-article(href="#", data-id=article._id, data-title=article.title) Delete
