extends layout

block content
    h1 #{title}
    if user
        if userArticles == ''
            button.btn.btn-danger.delete-articles(disabled) Delete All Articles
        else
            button.btn.btn-danger.delete-articles Delete All Articles
    if user
        button.btn.btn-danger.delete-account Delete Your Account
    ul.list-group
        each article, index in articles
            li.list-group-item
                a(href="/articles/" + article._id)= article.title
                if user
                    if user._id == article.author
                        span &emsp;
                        a.btn.btn-warning(href="/articles/edit/" + article._id) Edit 
                        span &emsp;
                        a.btn.btn-danger.delete-article(href="#", data-id=article._id, data-title=article.title) Delete
