doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      li text
    input(type='text').className#id
    - var condition = true
    if condition
      p It's true
    - var array = [1, 2, 3]
    each value in array
      p=value
    block content
