doctype html
html
    head
        title Knowledgebase
        link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet", href="/css/style.css")
        //- link(rel="icon", href="/images/favicon.ico")
    body
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            .container
                a.navbar-brand(href='/') KnowledgeBase
                button.navbar-toggler(type='button', data-toggle='collapse', data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
                    span.navbar-toggler-icon
                #navbarNav.collapse.navbar-collapse
                    ul.navbar-nav.mr-auto
                        li.nav-item
                            a.nav-link(href='/') Home
                        if user
                            li.nav-item
                                a.nav-link(href='/articles/add') Add Article
                    ul.navbar-nav
                        if user
                            li.usernametext Hello: #{user.name}, Username: #{user.username}
                            li.nav-item
                                a.nav-link(href='/users/logout') Logout
                        else
                            li.nav-item
                                a.nav-link(href='/users/register') Register
                            li.nav-item
                                a.nav-link(href='/users/login') Login

        .container
            br
            h1 Developed By: 
                a(href="https://www.osamamohamed.com", target="_blank") OSAMA MOHAMED
            != messages('message', locals)
            if errors
                each error, index in errors
                    div(class="alert alert-danger") #{error.msg}
            br
            block content
            br
            hr
            footer
                p copyright &copy; 2018
        script(src='/bower_components/jquery/dist/jquery.js')  
        script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
        script(src='/js/main.js')