.alert-error{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-success_msg{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.usernametext {
    color: #fff;
    position: relative;
    top: 8px;
    right: 15px;
}

.delete-articles {
    position: relative;
    top: -48px;
    left: 70%;
}
.delete-articles:disabled {
    cursor: not-allowed;
}

.delete-account {
    position: relative;
    top: -48px;
    left: 71%;
}