/* start footer */
.footer {
  background-color: #e2e2e2;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 50px;
  .gallery, .info, .contact {
    float: $floatLeft;
  }
  .gallery {
    width: 50%;
    .img-box {
      overflow: hidden;
      margin-bottom: 20px;
      img {
        float: $floatLeft;
        width: 150px;
        height: 150px;
      }
      .text {
        float: $floatLeft;
        margin-left: 15px;
        margin-right: 15px;
        width: calc(100% - 180px);
        h4 {
          color: $mainColor;
          margin: 5px 0 0 0;
        }
        p {
          color: #444;
          line-height: 1.5;
        }
      }
    }
  }
  .info {
    width: 25%;
    ul {
      li {

      }
    }
    h4 {

    }
    p {

    }
  }
  .contact {
    width: 25%;
    form {

    }
  }
  .section-title {
    color: #444;
    font-weight: normal;
  }
}
/* end footer */