{% extends "base.html" %}


{% block content %}
  <h1>
    My Recipes
    {% if request.user == object_list.first.user %} 
      => {{request.user}} Recipes
    {% endif %}
  </h1>
  <a href='{% url "recipes:create" %}'>Add Recipe</a>
  <ul>
    {% for x in object_list %}
      <li>
        <a href='{{ x.get_absolute_url }}'>{{ x.name }}</a>
        {% if x.get_edit_url %}
          <small>
            <a href='{{ x.get_edit_url }}'>Edit</a>
          </small>
        {% endif %}
        {% if x.get_delete_url %}
          <small>
            <a href='{{ x.get_delete_url }}' hx-post='{{ x.get_delete_url }}' hx-confirm='Are you sure you want to delete {{ x.name }}?' hx-trigger='click'>Delete</a>
          </small>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endblock content %}