{% extends "base.html" %}

{% load static %}

{% block content %}


  <!-- <div class='row'>
    <div class='col-sm-12'>
      <h1>{{ obj.tag }}</h1>
    </div>
    <div class='col-sm-9 '>

      {% for tweet in obj.get_tweets %}
        {{ tweet.content }}
        <a href='{{ tweet.get_absolute_url }}'>View</a>
        <br/>
      {% endfor %}

    </div>
  </div> -->


  <div class='row'>
    <div class='col-sm-12'>
      {% if request.GET.q %}
        <p class='lead'>Results for {{ request.GET.q }}</p>
        <hr/>
      {% endif %}
    </div>

    <div class='col-sm-8 col-sm-offset-2'>
      <h1>Tweets</h1>
      <hr/>
      <div id='tweet-container' data-url='/api/tags/{{ obj.tag }}/'></div>
      <a href='#' id='loadmore'>Load More Tweets</a>
    </div>
  </div>

{% endblock content %}

{% block javascript %}

  <script src="{% static 'js/list_tweets.js' %} "></script>
  <script>
    $(document).ready(function(){
      loadTweetData();
    });
  </script>

{% endblock javascript %}
