/* start global */

*{
    padding: 0;
    margin: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: Tahoma, Arial;
}

.scroll_to_top{
    background-color: #333;
    color: #fff;
    display: inline-block;
    padding: 0 5px 3px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
/* end global */

/* start header */

.navbar{
    list-style: none;
    padding: 5px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.navbar li{
    display: inline-block;
    padding: 15px;
}

.navbar li a{
    color: #eee;
    text-decoration: none;
}

.navbar li a.active{
    color: #ffea00;
}
/* end header */

/* start fixed menu*/

.fixed_menu{
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    top: 0;
    left: -220px;
    height: 100%;
    width: 220px;
    z-index: 9999;
}

.fixed_menu .fa-cog{
    background-color: #333;
    color: #fff;
    border-radius: 0 10px 10px 0;
    position: absolute;
    top: 90px;
    right: -30px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.fixed_menu .change_colors li{
    height: 25px;
    width: 25px;
    display: inline-block;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.fixed_menu .change_colors [data-color="blue"]{
    background-color: #0984e3;
}

.fixed_menu .change_colors [data-color="red"]{
    background-color: #d63031;
}

.fixed_menu .change_colors [data-color="green"]{
    background-color: #00b894;
}

.fixed_menu .change_colors [data-color="purple"]{
    background-color: #6c5ce7;
}
/* end fixed menu*/

/* start sections */

.block{
    min-height: 1000px;
    background-color: #eee;
    margin-bottom: 20px;
    padding:60px 0;
    /*text-align: center;*/
}

/* end sections */

/* start popup */

.popup{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

.popup .inner_popup{
    position: fixed;
    top: 50%;
    margin-top: -125px;
    left: 50%;
    margin-left: -150px;
    height:250px;
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.popup .inner_popup h2{
    color: #777;
    margin: 0 0 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.popup .inner_popup p{
    color: #aaa;
    line-height: 1.6;
}

.popup .inner_popup button{
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 2px 8px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.show_popup{
    cursor: pointer;
    display: block;
    text-align: center;
    margin: 20px;
    background-color: #fff;
    width: 140px;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    color: #928440;
}
/* end popup */

/* start error message */

.error_message{
    padding: 10px;
    color: #fff;
    background-color: #d63031;
    font-size: 20px;
    width: 600px;
    text-align: center;
    position: fixed;
    top: 80px;
    right: -100%;
    z-index: 9999;
}

/* end error message */

/* start buttons effects */
.buttons_effect{
    cursor: pointer;
    display: block;
    text-align: center;
    margin: 20px;
    width: 140px;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    color: #fff;
    border: none;
    position: relative;
    overflow: hidden;
}

.buttons_effect span:first-child{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    z-index: 1;
}

.buttons_effect span:last-child{
    position: relative;
    z-index: 2;
}

.buttons_effect.from_left{
    background-color: #d63031;
}

.buttons_effect.from_left span:first-child{
    height: 100%;
    width: 0;
    background-color: #ff7675;
}

.buttons_effect.from_top{
    background-color: #0984e3;
}

.buttons_effect.from_top span:first-child{
    height: 0;
    width: 100%;
    background-color: #74b9ff;
}

.border_left, .border_top{
    border-radius: 0;
    background-color: #fff;
    color: #0984e3;
    overflow: visible;
}

.border_left span:first-child{
    height: 4px;
    width: 0;
    background-color: #0984e3;
    top: auto;
    bottom: -3px;
}

.border_top span:first-child{
    height: 0;
    width: 4px;
    background-color: #0984e3;
    top: 0;
    left: -3px;
}

.bounce{
    margin-top: 30px;
    background-color: #0984e3;
    position: relative;
}
/* end buttons effects */

/* start animated_progress_bar */

.animated_progress_bar{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    margin: 20px 10px;
    border: 1px solid #ccc;
    overflow: hidden;
    background-color: #f6f6f6;
}

.animated_progress_bar span{
    height: 30px;
    width: 0;
    display: block;
    color: #fff;
    line-height: 25px;
    text-indent: 0;
    text-align: right;
}

.progress_blue span{
    background-color: #0984e3;
}

.progress_red span{
    background-color: #d63031;
}

.progress_green span{
    background-color: #00b894;
}

.progress_purple span{
    background-color: #6c5ce7;
}
/* end animated_progress_bar */


/* start gallery */

.gallery{
    width: 800px;
    margin: auto;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 3px;
}

.gallery .master-img{
    height: 548px;
    position: relative;
}

.gallery .master-img i{
    padding: 10px;
    position: absolute;
    top: 500px;
    cursor: pointer;
    z-index: 2;
}

.gallery .master-img .fa-chevron-left{
    left: 0;
}

.gallery .master-img .fa-chevron-right{
    right: 0;
}

.gallery img{
    max-width: 100%;
}

.gallery .thumbnails{
    overflow: hidden;
}

.gallery .thumbnails img{
    float: left;
    border: 3px solid #ccc;
    cursor: pointer;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    opacity: .6;
}

.gallery .thumbnails img.selected{
    border: 3px solid #0984e3;
    opacity: 1;
}
/* end gallery */

/* start products */

.products{
    width: 800px;
    margin: 50px auto;
    overflow: hidden;
}

.products .product{
    width: 49%;
    float: left;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
}

.products .product:first-child{
    margin-right: 1%;
}

.products .product .date{
    color: #888;
    font-size: 12px;
    display: block;
    margin: 5px 0;
}

.products .product img{
    width: 100%;
    height: 140px;
}

.products .product i{
    padding: 10px;
    display: block;
    background-color: #eee;
    margin: 10px;
    cursor: pointer;
    text-align: center;
}

.products .product .description{
    padding: 10px;
    display: none;
}
/* end products */

/* start items */

.items{
    width: 800px;
    margin: 50px auto;
    overflow: hidden;
}

.items .view_options{
    overflow: hidden;
    margin-bottom: 5px;
    padding: 10px;
}

.items .view_options i{
    float: right;
    cursor: pointer;
}

.items .view_options i.active{
    color: #0984e3;
}

.items.grid_view .item{
    width: 49%;
    float: left;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
}

.items.grid_view .item.first{
    margin-right: 1%;
}

.items.grid_view .item .date{
    color: #888;
    font-size: 12px;
    display: block;
    margin: 5px 0;
}

.items.grid_view .item img{
    width: 100%;
    height: 140px;
}

.items.grid_view .item i{
    padding: 10px;
    display: block;
    background-color: #eee;
    margin: 10px;
    cursor: pointer;
    text-align: center;
}

.items.grid_view .item .description{
    padding: 10px;
    display: none;
}

.items.list_view .item{ /* list view*/
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    position: relative;
    height: 125px;
    margin-bottom: 10px;
}

.items.list_view .item h3{
    margin-left: 110px;
    margin-top: 0;
}

.items.list_view .item .date{
    color: #888;
    font-size: 12px;
    display: block;
    margin: 5px 0 5px 110px;
}

.items.list_view .item img{
    position: absolute;
    top: 5px;
    left: 5px;
}

.items.list_view .item i{
    display: none;
}

.items.list_view .item .description{
    padding: 10px;
    margin-left: 100px;
}

/* end items */

/* start our form */

.our_form{
    width: 800px;
    margin: auto;
}

.our_form form input,
.our_form form textarea,
.our_form .custom_file{
    margin-bottom: 20px;
    width: 500px;
    margin-right: 10px;
}

.our_form input[type="text"],
.our_form input[type="email"],
.our_form input[type="password"],
.our_form textarea{
    padding: 10px;
}

.our_form textarea{
    height: 180px;
}

.our_form .custom_file{
    background-color: #fff;
    border: 1px solid rgb(169, 169, 169);
    position: relative;
}

.our_form .custom_file span{
    display: inline-block;
    padding: 8px 12px;
    color: #757575;
    font-size: 14px;
}

.our_form .custom_file input[type="file"]{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.our_form .custom_file .fa-upload{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

.our_form .the_message{
    display: none;
}

.our_form .tags span{
    padding: 5px 10px;
    background-color: #dedede;
    display: inline-block;
    margin: 10px 10px 10px 0;
    border-radius: 8px;
    color: #6f6f6f;
}

.our_form .tags span i{
    margin-right: 5px;
    color: #969696;
    cursor: pointer;
}

.our_form .tags span i:hover{
    color: #d63031;
}

.our_form input[type="submit"]{
    padding: 15px;
    font-size: 15px;
}

/* end our form */

/* start trimmed text */

.trimmed_text{
    width: 800px;
    margin: auto;
}

.trimmed_text p{
    padding: 10px;
    background-color: #ddd;
    margin-bottom: 20px;
}

/* end trimmed text */


/* start same div height */

.same_height{
    overflow: hidden;
}

.same_height div{
    width: 30%;
    margin-right: 1%;
    float: left;
    background-color: #ddd;
    padding: 10px;
}

/* end same div height */

/* start shuffling cards */

.cards{
    position: relative;
    margin-top: 50px;
    min-height: 300px;
    z-index: 1;
}

.cards .card{
    width: 150px;
    height: 150px;
    border: 3px solid #333;
    position: absolute;
    left: 50%;
    margin-left: -75px;
    cursor: pointer;
}

.cards .card-one{
    background-color: #e74c3c;
}

.cards .card-two{
    background-color: #c0392b;
}

.cards .card-three{
    background-color: #3498db;
}

.cards .card-four{
    background-color: #2980b9;
}

.cards .card-five{
    background-color: #1abc9c;
}

.cards .card-six{
    background-color: #16a085;
}

.cards .card-seven{
    background-color: #2ecc71;
}

.cards .card-eight{
    background-color: #8e44ad;
}
/* end shuffling cards */

/* start warning */

.blink-warning{
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 210px;
    border-radius: 12px;
    text-align: center;
    color: #c0392b;
    border: 2px solid #c0392b;
}

/* end warning */

/* start to do list */

.todo-list{
    width: 400px;
    margin: 20px auto;
    background-color: #fff;
    border: 2px solid #fff;
}

.todo-list h3{
    margin: 0;
    padding: 15px;
    border-bottom: 2px solid #969696;
    background-color: #efefef;
}

.todo-list .tasks{
    list-style: none;
}

.todo-list .tasks li{
    padding: 15px 20px;
    border-bottom: 1px dashed #484848;
    color: #484848;
    cursor: pointer;
}

.todo-list .add-task .task-input{
    padding: 15px 20px;
    border: none;
    width: 100%;
}
/* end to do list */

/* start typing effect */

.typing{
    padding: 10px;
    background-color: #fff;
}

/* end typing effect */

/* start calculate total price */

.summary{
    width: 100%;
    margin: 400px auto;
}

.summary td{
    background-color: #fff;
    padding: 10px;
    vertical-align: middle;
}

.summary tr:first-child td{
    background-color: #444;
    color: #fff;
}

.summary tr:last-child td:first-child{
    text-align: end;
}
/* end calculate total price */

/* start auto changing notes */

.text-ticker{
    width: 400px;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #ccc;
}

.text-ticker h3{
    padding: 15px;
    margin: 0;
    background-color: #eee;
}

.text-ticker .ticker-list{
    list-style: none;
}

.text-ticker .ticker-list li{
    padding: 15px;
}

.text-ticker .ticker-list li:not(.active){
    display: none;
}

/* end auto changing notes */

/* start dynamic tabs */

.tabs-list li{
    padding: 15px 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    display: inline-block;
    position: relative;
    top: 1px;
    cursor: pointer;
}

.tabs-list .active,
.tabs-list li:hover{
    color: #080;
}

.tabs-list .active{
    border-bottom: 1px solid #fff;
    z-index: 2;
}

.content-list{
    border: 1px solid #ccc;
    background-color: #fff;
    position: relative;
}

.content-list > div{
    padding: 20px;
    min-height: 200px;
}

.content-list > div:not(:first-child){
    display: none;
}

.switch-tabs{
    padding: 10px;
    background-color: #efefef;
    border: 1px solid #ccc;
    display: inline-block;
    margin-bottom: 20px;
    cursor: pointer;
}

.left-tabs{
    overflow: hidden;
}

.left-tabs .tabs-list,
.left-tabs .content-list{
    float: left;
}

.left-tabs .tabs-list li{
    display: block;
    top: 0;
    left: 1px;
}

.left-tabs .tabs-list .active{
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #fff;
}

.left-tabs .content-list{
    min-height: 312px;
    width: calc(100% - 98px);
}
/* end dynamic tabs */

/* start website theme color */

[data_default_color="blue"] .skin_color{
    color: #0984e3;
}

[data_default_color="blue"] .skin_background{
    background-color: #0984e3;
    color: #fff;
}

[data_default_color="red"] .skin_color{
    color: #d63031;
}

[data_default_color="red"] .skin_background{
    background-color: #d63031;
    color: #fff;
}

[data_default_color="green"] .skin_color{
    color: #00b894;
}

[data_default_color="green"] .skin_background{
    background-color: #00b894;
    color: #fff;
}

[data_default_color="purple"] .skin_color{
    color: #6c5ce7;
}

[data_default_color="purple"] .skin_background{
    background-color: #6c5ce7;
    color: #fff;
}
/* end website theme color */