/* start global */

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Tahoma, Arial;
}

.scroll_to_top{
    background-color: #333;
    color: #fff;
    display: inline-block;
    padding: 0 5px 3px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
}
/* end global */

/* start header */

.navbar{
    list-style: none;
    padding: 5px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar li{
    display: inline-block;
    padding: 15px;
}

.navbar li a{
    color: #eee;
    text-decoration: none;
}

.navbar li a.active{
    color: #ffea00;
}
/* end header */

/* start sections */

.block{
    height: 1000px;
    background-color: #eee;
    margin-bottom: 20px;
    padding:60px 0;
    text-align: center;
}

/* end sections */

/* start popup */

.popup{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

.popup .inner_popup{
    position: fixed;
    top: 50%;
    margin-top: -125px;
    left: 50%;
    margin-left: -150px;
    height:250px;
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.popup .inner_popup h2{
    color: #777;
    margin: 0 0 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.popup .inner_popup p{
    color: #aaa;
    line-height: 1.6;
}

.popup .inner_popup button{
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 2px 8px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.show_popup{
    cursor: pointer;
    display: block;
    text-align: center;
    margin: 20px;
    background-color: #fff;
    width: 140px;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    color: #928440;
}
/* end popup */

/* start buttons effects */
.buttons_effect{
    cursor: pointer;
    display: block;
    text-align: center;
    margin: 20px;
    width: 140px;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    color: #fff;
    border: none;
    position: relative;
    overflow: hidden;
}

.buttons_effect span:first-child{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    z-index: 1;
}

.buttons_effect span:last-child{
    position: relative;
    z-index: 2;
}

.buttons_effect.from_left{
    background-color: #d63031;
}

.buttons_effect.from_left span:first-child{
    height: 100%;
    width: 0;
    background-color: #ff7675;
}

.buttons_effect.from_top{
    background-color: #0984e3;
}

.buttons_effect.from_top span:first-child{
    height: 0;
    width: 100%;
    background-color: #74b9ff;
}

.border_left, .border_top{
    border-radius: 0;
    background-color: #fff;
    color: #0984e3;
    overflow: visible;
}

.border_left span:first-child{
    height: 4px;
    width: 0;
    background-color: #0984e3;
    top: auto;
    bottom: -3px;
}

.border_top span:first-child{
    height: 0;
    width: 4px;
    background-color: #0984e3;
    top: 0;
    left: -3px;
}
/* end buttons effects */

/* start animated_progress_bar */

.animated_progress_bar{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    margin: 20px 10px;
    border: 1px solid #ccc;
    overflow: hidden;
    background-color: #f6f6f6;
}

.animated_progress_bar span{
    height: 30px;
    width: 0;
    display: block;
    color: #fff;
    line-height: 30px;
    text-indent: 0;
}

.progress_blue span{
    background-color: #0984e3;
}

.progress_red span{
    background-color: #d63031;
}

.progress_green span{
    background-color: #00b894;
}

.progress_purple span{
    background-color: #6c5ce7;
}
/* end animated_progress_bar */