
<h1>
  {{ object.name }}
</h1>
{% if object.get_edit_url %}
  <small>
    <a href='{{ object.get_edit_url }}'>Edit</a> 
    <!-- <a href='{{ object.get_delete_url }}' hx-post='{{ object.get_delete_url }}' hx-confirm='Are you sure you want to delete {{ object.name }}?' hx-trigger='click' hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>Delete</a> -->
    <a href='{{ object.get_delete_url }}' hx-post='{{ object.get_delete_url }}' hx-confirm='Are you sure you want to delete {{ object.name }}?' hx-trigger='click'>Delete</a>
  </small>
{% endif %}
<p>{{ object.description }}</p>
<p>{{ object.directions }}</p>

<!-- {% for ingredient in object.recipeingredient_set.all %} -->
<!-- {% endfor %} -->
{% for ingredient in object.get_ingredients_children %}
  <div id="ingredient-{{ ingredient.id }}">
    <h1>
      {{ ingredient.name }}
        <small>
          <!-- <a href='{{ ingredient.get_hx_edit_url }}'>Edit</a>  -->
          <a hx-post='{{ ingredient.get_delete_url }}' hx-confirm='Delete ingredient {{ ingredient.name }}?' hx-trigger='click' href='{{ ingredient.get_delete_url }}' hx-target='#ingredient-{{ ingredient.id }}' hx-swap='outerHTML'>Delete</a>
        </small>
    </h1>
    <p>{{ ingredient.as_mks }}</p>
    <p>{{ ingredient.as_imperial }}</p>
  </div>
{% endfor %}