
<h1>
  {{ object.name }}
  {% if object.get_edit_url %}
    <small class="blockquote">
      <a href='{{ object.get_edit_url }}' class='link-primary'>Edit</a> 
      <!-- <a href='{{ object.get_delete_url }}' hx-post='{{ object.get_delete_url }}' hx-confirm='Are you sure you want to delete {{ object.name }}?' hx-trigger='click' hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>Delete</a> -->
      <a href='{{ object.get_delete_url }}' hx-post='{{ object.get_delete_url }}' hx-confirm='Are you sure you want to delete {{ object.name }}?' hx-trigger='click' class='link-danger'>Delete</a>
    </small>
  {% endif %}
</h1>
<p>{{ object.description }}</p>
<p>{{ object.directions }}</p>

<!-- {% for ingredient in object.recipeingredient_set.all %} -->
<!-- {% endfor %} -->
{% for ingredient in object.get_ingredients_children %}
  <div id="ingredient-{{ ingredient.id }}">
    <!-- {% include 'recipes/partials/ingredient-inline.html' with object=ingredient %} -->
    <h1>
      {{ ingredient.name }}
      <small class="blockquote">
        <a hx-post='{{ ingredient.get_delete_url }}' hx-confirm='Delete ingredient {{ ingredient.name }}?' hx-trigger='click' href='{{ ingredient.get_delete_url }}' hx-target='#ingredient-{{ ingredient.id }}' hx-swap='outerHTML' class='link-danger'>Delete</a>
      </small>
    </h1>
    <p>{{ ingredient.as_mks }}</p>
    <p>{{ ingredient.as_imperial }}</p>
  </div>
{% endfor %}