
<div id='recipe-container'>
  <form action='.' method="POST" hx-post='.' hx-swap='outerHTML' hx-trigger='{% if form.instance.id %}change delay:500ms,{% endif %} submit'>
    {% csrf_token %}

    {% for field in form %}
      <div class='{% if field.field.required %}{{ form.required_css_class }}{%endif%}'>
        {{ field.errors }}   
        {{ field.label_tag }} 
        {{ field }}

        {% if field.help_text %}
          <p class="help">
            {{ field.help_text|safe }}
          </p>
        {% endif %}
      </div>
    {% endfor %}

    <div class='htmx-indicator'>Loading...</div>
    <div class="d-grid gap-2">
      <button class='htmx-inverted-indicator btn btn-success mt-3' type='submit'>Save</button>
    </div>
    
    {% if message %}
      <p>{{ message }}</p>
    {% endif %}
    
    {% if object.id %}
    <div class="d-grid gap-2">
      <a href='{{ object.get_delete_url }}' hx-post='{{ object.get_delete_url }}' hx-confirm='Are you sure you want to delete {{ object.name }}?' hx-trigger='click' class='btn btn-danger mt-3 center'>Delete</a>
    </div>
    {% endif %}
  </form>
</div>
