<form action='.' method="POST" hx-post='{% if url %}{{ url }}{% else %}.{% endif %}' hx-swap='outerHTML'>
  {% csrf_token %}
  {{ form.as_p }}
  <div class='htmx-indicator'>Loading...</div>
  <button class='htmx-inverted-indicator btn btn-success' type='submit'>{%if object.id %}Update{% else %}Add{% endif %}</button>
  <button class='btn btn-secondary' id='cancel'>Cancel</button>
  <hr>
</form>


<script>
  document.addEventListener('click', (event)=>{
    if(event.target.id == 'cancel') {
      remove_form(event)
    }
    function remove_form(event) {
      if (event) {
        event.preventDefault()
        event.target.parentNode.remove()
      }
    }
  })
</script>