{% extends 'base.html' %}

{% block content %}
  <h1>
    {{ object.title }}
    {% if request.user == object.user %}
      <small class="blockquote">
        <a href="{{ object.get_edit_url }}" class='link-primary'>Edit</a>
      </small>
      <small class="blockquote">
        <a href="{{ object.get_delete_url }}" class='link-danger'>Delete</a>
      </small>
    {% endif %}
  </h1>
  <p>
    Author : {{ object.user.username }} 
    {% if request.user == object.user %} 
      => This is you! 
    {% endif %}
  </p>
  <p>{{ object.content }}</p>
{% endblock content %}