<div>
  <form action="{% url 'search:search' %}" method="GET" class="d-flex">
    <select name='type' id='search-type' class="form-control">
      {% if request.GET.type == 'article' %}
        <option value='article' selected>Articles</option>
      {% else %}
        <option value='article'>Articles</option>
      {% endif %}

      {% if request.GET.type == 'recipe' %}
        <option value='recipe' selected>Recipes</option>
      {% else %}
        <option value='recipe' selected>Recipes</option>
      {% endif %}
    </select>
    <input type='text' id='search-query' name='q' value='{{ request.GET.q }}' hx-get="{% url 'search:search' %}" hx-trigger='keyup changed delay:200ms' hx-include='#search-type' hx-target='#typeahead-results' class="form-control me-2">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
  <div id='typeahead-results'></div>
</div>