<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detail</title>
</head>
<body>
  Osama
    <a href='{% url "blog:list" %}'>Back To List</a>
    <br>
    <br>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  <li>
    #{{ object.id }} - {{ object.title }} => {{ object.slug }} => {{ object.content }}
    <a href='{% url "blog:update" id=object.id %}'>Update {{ object.title }}</a>
  </li>
</body>
</html>