<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  Osama
    <a href='{% url "blog:create" %}'>Create New Post</a>
    <br>
    <br>
  
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
<form action="/blog/" method="GET">
  <input type="text" name="q"placeholder="Search">
</form>
  <!-- {{ object_list }} -->
  {% for object in object_list %}
  <li>
    #{{ object.id }} - <a href="/blog/{{ object.id }}">{{ object.title }}</a> => {{ object.slug }}
    <a href='{% url "blog:detail" id=object.id %}'>{{ object.title }}</a>
    <a href="{{ object.get_absolute_url }}">{{ object.title }}</a>
    <a href='{% url "blog:update" id=object.id %}'>Update</a>
    <a href='{% url "blog:delete" id=object.id %}'>Delete</a>
  </li>
  {% endfor %}
</body>
</html>