
{% extends 'base.html' %}

{% block title %}
    <title>Reset Password Confirm</title>
{% endblock %}


{% block body %}
    <h1>Reset Password!</h1>
    {% if validlink %}
        <p>
            Please enter your new password twice so we can verify you typed it in correctly.
        </p>
        <br>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Reset Password" class="btn btn-primary">
        </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
    {% endif %}
{% endblock %}
