{% extends 'base.html' %}

{% block content %}
  {% if not created %}
    <hr>
    <form action="." method="POST">
      {% csrf_token %}
      <input type="text" name="title" placeholder="Title">
      <div style="margin-top: 10px;">
        <textarea name="content" placeholder="Content"></textarea>
      </div>
      <button type="submit">Create article</button>
    </form>
  {% else %}
    <p>Your article was created successfully!</p>
    <a href="/articles/{{ object.id }}">{{ object.title }} - {{ object.content }}</a>
  {% endif %}
{% endblock content %}