{% extends "base.html" %}

{% block content %}

  <div class='row'>

    <div class='col-sm-3 col-xs-12'>
      <h1>{{ object.username }} </h1>
      <hr/>
      <!-- <p>Followers: {{ object.followed_by.count }}</p> -->
      <p>Followers: {{ object.followed_by.all.count }}</p>
      <p>
        <a class='btn btn-link' href='{{ object.profile.get_follow_url }}'>
          {% if following %}
            Unfollow
          {% else %}
            Follow
          {% endif %}
        </a>
      </p>
      <hr/>
      <h1>
        Following
        <!-- <small>{{ object.profile.following.all.count }}</small> -->
        <small>{{ object.profile.get_following.count }}</small>
      </h1>
        {% for user in object.profile.get_following %}
          <a href='/{{ user.username }}'>{{ user.username }}</a>
          <br/>
        {% empty %}
          <h4>Not following any users</h4>
        {% endfor %}
      <hr/>
      <h1>
        Followed By
        <small>{{ object.followed_by.all.count }}</small>
      </h1>
        {% for profile in object.followed_by.all %}
          <a href='/{{ profile.user.username }}'>{{ profile.user.username }}</a>
          <br/>
        {% empty %}
          <h4>Not followed by any users</h4>
        {% endfor %}
    </div>

    <div class='col-sm-9 col-xs-12'>
      <h1>Tweets</h1>
      {% for tweet in object.tweet_set.all %}
        {{ tweet.content }}
        <br>
        {{ tweet.timestamp|timesince }} ago | 
        <a href='{{ tweet.get_absolute_url }}'>View</a> |
        <a href="{{ tweet.get_absolute_update_url }}">Update</a> |
        <a href="{{ tweet.get_absolute_delete_url }}">Delete</a>
        <br/>
        <hr>
      {% endfor %}
    </div>

  </div>

{% endblock %}
