{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <div class="col-sm-6 col-sm-offset-3">
        <div class="row">
            <div class="col-sm-12">
                <h1>{{ title }}</h1>
                <hr>
                <form method="post" action="" ><!-- enctype="multipart/form-data"> -->
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input type="submit" value="{{ title }}" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
{% endblock %}