{% extends 'base.html' %}

{% block title %}
    <title>OSAMA | Success</title>
{% endblock %}

{% block body %}
    <h1>Success!</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p>ORIGINAL URL : {{ object.url }}</p>
{#    <p>{{ object.shortcode }}</p>#}
{#    <p>{{ object.get_absolute_url }}</p>#}
    <p>SHORTENER URL : <a href="{{ object.get_short_url }}" target="_blank">{{ object.get_short_url }}</a></p>
    <br>
    <a class="btn btn-default" href="/"> &#43; New </a>
{% endblock %}