<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
    {% extends 'layout.html' %}
    {% block body %}
        <h2>Add New Ad</h2>
        <br>
    <form method="post" action="">
        <div class="form-group">
            <label>Select Category</label>
            <select name="categories" class="btn btn-outline-primary dropdown-toggle">
                <option value="prog">Programing</option>
                <option value="web">web design</option>
                <option value="host">Hosting</option>
            </select>
        </div>
        <div class="form-group">
            <label>Name Of Product</label>
            <input type="text" name="name" class="form-control" style="max-width: 75%;" autocomplete="off">
        </div>
        <div class="form-group">
            <label>Description Of Product</label>
            <textarea href="" name="description" class="form-control" style="max-width: 75%;"></textarea>
        </div>
        <div class="form-group">
            <label>Select Condition Of Product</label>
            <select name="conditions" class="btn btn-outline-primary dropdown-toggle">
                <option  value="new">New</option>
                <option  value="old">Old</option>
            </select>
        </div>
        <div class="form-group">
            <label>Product Price</label>
            <input type="text" name="price" class="form-control" style="max-width: 20%;">
        </div>
        <div class="form-group">
            <label>Product Discount</label>
            <input type="text" name="discount" class="form-control" style="max-width: 20%;">
        </div>
        <div class="form-group">
            <label>Add picture Of Your Product</label>
            <input type="file" name="file" class="form-control" style="max-width: 21%;">
        </div>
            <input type="submit" class="btn btn-primary" value="Add AD">
    </form>
    {% endblock %}
    </body>
</html>