{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Django</title>
  <script src="https://unpkg.com/htmx.org@1.6.1"></script>

  <link rel='stylesheet' href='{% static "recipes/recipes-htmx.css" %}' />
</head>
<body>
  <a href="{% url 'accounts:register' %}">Register</a>
  <a href="{% url 'accounts:login' %}">Login</a>
  <a href="{% url 'accounts:logout' %}">Logout</a>
  <a href="{% url 'home' %}">Homepage</a>
  <a href="{% url 'articles:create' %}">create article</a>
  <a href="{% url 'recipes:list' %}">Recipes</a>
  <a href="{% url 'recipes:create' %}">Create recipe</a>
  <hr>
  
  {% include 'search/search-form.html' %}
  
  {% block content %}
  {% endblock content %}

  <script>
    document.body.addEventListener("htmx:configRequest", (event)=>{
      event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}'
    })
  </script>

</body>
</html>