{% extends 'base.html' %}

{% block content %}
  <h1>#{{ object.id }}: {{ object.title }} !</h1>
  <p>{{ object.content }}!</p>

  <!-- <a href="{% url 'articles:detail' slug='os' %}">Os Article</a> -->
  <ul>
    {% for li in object_list %}
      {% if li.title %}
      <li>
        <a href="{{ li.get_absolute_url }}" class='link-primary'>{{ li.title }} - {{ li.content }}</a>
        {% if request.user == li.user %}
          <a href="{{ li.get_edit_url }}" class='link-primary'>Edit</a>
        {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endblock content %}