{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IMG Scanner</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static 'fav.png' %}" type="image/x-icon">
  </head>

  <body>
    
    <div class="container">
      <div class="col">
        <div class="text-center">
          <h1 class="display-4 my-4">IMG Scanner</h1>
          <h1 class="display-4">Developed By : <a href="https://www.osamamohamed.com" target="_blank">OSAMA MOHAMED</a></h1>
        </div>
        <br>
        <br>
        <form action="." method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="input-group">
            <div class="custom-file">
              <input type="file" name="img" class="custom-file-input" id="inputGroupFile04">
              <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
            </div>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit">Scan</button>
            </div>
          </div>
        </form>

        <br>
        <br>
        
        {% if message %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}
        
        {% if content %}
          <div class="jumbotron">
            <div class="text-center">
              <h1 class="display-4">Here is the text from your image!</h1>
              <button class="btn btn-secondary my-4" onclick="copyContent()">Copy text</button>
            </div>
            <hr class="my-4">
            <div id="content">{{ content |linebreaks}}</div>

            {% if imgurl %}
              <br>
              <br>
            <div class="text-center">
              <a href="{{ imgurl }}" target="_blank">
                <img src="{{ imgurl }}" class="img-fluid" alt="{{ alt }}">
              </a>
            </div>
            {% endif  %}
          </div>
        {% endif %}

      </div>
    </div>

    <script type="text/javascript">
      function copyContent() {
        copy(document.getElementById('content').textContent)
      }
      function copy(text) {
        let copyText = document.createElement("textarea");
        document.body.appendChild(copyText);
        copyText.value = text;
        copyText.select();
        document.execCommand("copy");
        document.body.removeChild(copyText);
      }
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
