<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Node Mailer</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="container">
    <h1 class="brand"><span>Node</span> Mailer</h1>
    <div class="wrapper animated bounceInLeft">
      <div class="company-info">
        <h3>Node Mailer</h3>
        <p>Send email to any email in the world</p>
      </div>
      <div class="contact">
        <h3>Email Us</h3>
        {{#if success_msg }}
            <div class="alert alert-success">
                {{ success_msg }}
            </div>
        {{/if }}
        
        {{#if error_msg }}
            <div class="alert alert-danger">
                {{ error_msg }}
            </div>
        {{/if }}
        <form method="POST" action="/send">
          <p>
            <label>Name</label>
            <input type="text" name="name">
          </p>
          <p>
            <label>Company</label>
            <input type="text" name="company">
          </p>
          <p>
            <label>Email Address</label>
            <input type="email" name="email">
          </p>
          <p>
            <label>Phone Number</label>
            <input type="text" name="phone">
          </p>
          <p class="full">
            <label>Message</label>
            <textarea name="message" rows="5"></textarea>
          </p>
          <p class="full">
            <button type="submit">Submit</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</body>

</html>