.videos {
  list-style: inside circle;
  font-size: 20px;
  background-color: #fff;
  width: 500px;
  margin: auto;
  padding: 0;
  box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.05);
}

.videos li {
  border-bottom: 1px solid #efefef;
  padding: 20px;
}
