// p {
//   @media (min-width: $minSmall) {
//     color: blue;
//   }
//   @include minMedium {
//     color: orange;
//   }
//   // @media #{$minMedium} {
//   //   color: green;
//   // }
//   @media (max-width: $maxMobile) {
//     color: red;
//   }
// }


// .product {
//   background-color: #eee;
//   padding: 10px;
//   border: 1px solid #ccc;
//   width: 300px;
//   height: 150px;
//   position: relative;
//   @include prefixer(animation, fadeInOut 2s infinite linear, webkit moz o ms);
//   @include prefixer(box-shadow, 10px 10px 10px #ccc, webkit moz o ms);
//   .overlay {
//     @include overlay;
//     background-color: rgba($mainColor, .1);
//     color: #fff;
//   }
// }

// @include keyFrame (fadeInOut) {
//   0% {
//     opacity: .5;
//   }
//   50% {
//     opacity: 1;
//   }
//   100% {
//     opacity: .5;
//   }
// }


/* start slider */

.slider {
  blockquote {
    font: {
      size: 20px;
      style: italic;
      weight: bold;
      family: Tahoma, Arial;
    }
    line-height: 1.7;
    text-align: center;
    color: #5e5e5e;
    width: 70%;
    margin: 30px auto;
  }
  img {
    max-width: 100%;
  }
  .bullets {
    text-align: center;
    li {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: $secondColor;
      border-radius: 50%;
      border: 3px solid $secondColor;
      cursor: pointer;
      &.active,
      &:hover {
        background-color: #fff;
        border: 3px solid black;
      }
    }
  }
}

/* end slider */

/* start services */

.services {
  .service-box {
    float: $floatLeft;
    width: (100% / 3);
    &:not(:last-of-type) {
      padding-right: 20px;
    }
    // padding-right: 10px;
    // &:last-child {
    //   padding-right: 0; 
    // }
    .service-title {
      color: #666;
      i {
        font-size: 35px;
        position: relative;
        top: 4px;
      }
    }
    p {
      color: #777;
      line-height: 1.5;
    }
    .service-link {
      color: $mainColor;
    }
  }
}

/* end services */

/* start players */

.players {
  .player-box {
    float: $floatLeft;
    width: (100% / 5);
    &:not(:last-of-type) {
      padding-right: 20px;
    }
    img {
      max-width: 100%;
    }
    .player-title {
      color: #666;
      font-weight: normal;
      span {
        font-weight: bold;
      }
    }
    p {
      color: #777;
      line-height: 1.5;
    }
    .player-link {
      color: $mainColor;
    }
  }
}

/* end players */

/* start lorem */

.lorem {
  .lorem-box {
    float: $floatLeft;
    width: (94% / 3);
    &:not(:last-of-type) {
      margin-right: 3%;
    }
    img {
      max-width: 100%;
    }
  }
}

/* end lorem */